*,
*::before,
*::after {
    box-sizing: border-box;
    color: hsl(225, 20%, 66%);
    --color-emphasis: hsl(225, 20%, 71%);
    --color-link: hsl(166, 100%, 70%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 5% 10%;
    background-color: hsl(216, 65%, 11%);
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

header {
    grid-row: 1/2;
    background-color: hsl(216, 65%, 11%);
}

main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 30% 70%;
}

footer {
    grid-row: 3/4;
}

.main-title {
    font-size: 1.5rem;
}

.title {
    font-size: 1.3rem;
    color: var(--color-emphasis);
}

.dropdowns {
    display: grid;
    grid-template-columns: 33% 33% 43%;
    padding-top: 10px;
}

.top-tens {
    grid-column: 1/2;
}

.experience {
    grid-column: 2/3;
}

.education {
    grid-column: 3/4;
}

.dropdown>ul,
.dropdown>ol {
    visibility: hidden;
    position: absolute;
    /* transform: translateY(-100%); */
    z-index: -1;
    margin-top: 10px;
    transition: visibility 0s, opacity .5s linear,
        /* transform 0.5s ease-in-out */
    ;
}

.dropdown:hover>ul,
.dropdown:hover>ol,
.dropdown:focus>ul,
.dropdown:focus>ol,
.dropdown:hover>p,
.dropdown:hover>p {
    /* transform: translateY(0); */
    visibility: visible;
    opacity: 1;
}

li {
    font-size: .9rem;
}

.inline-text {
    color: var(--color-emphasis);
    font-size: 1.15rem;
    display: inline;
}

a {
    transition: transform .2s ease-in-out;
}

/* unvisited link */
a:link {
    color: var(--color-link);

}

/* visited link */
a:visited {
    color: var(--color-link);
}

a:hover {
    transform: scale(1.05);
}